@font-face {
  font-family: Exo2;
  font-weight: 400;
  src: url("@/assets/fonts/Exo2-Regular.otf");
}

@font-face {
  font-family: Exo2;
  font-weight: 500;
  src: url("@/assets/fonts/Exo2-Medium.otf");
}

@font-face {
  font-family: Exo2;
  font-weight: 700;
  src: url("@/assets/fonts/Exo2-Bold.otf");
}