.form {

  &__title {
    font-family: Exo2, sans-serif;
    font-weight: 700;
    font-size: 28px;
    color: #fff;
    line-height: 120%;
  }

  &__wrap {
    max-width: 500px;
    margin-top: 25px;
  }

  &__input {
    width: 100%;
    position: relative;
    padding: 10px 15px;
    font-family: Exo2, sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background-color: transparent;
    border-radius: 15px;
    outline: none;
    transition: all 0.25s;

    &:focus {
      border: 1px solid #9216FB;
      box-shadow: 0 0 10px 3px #9216FB;
    }
  }

  &__textarea {
    width: 100%;
    position: relative;
    margin-top: 15px;
    padding: 10px 15px;
    font-family: Exo2, sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background-color: transparent;
    border-radius: 15px;
    outline: none;
    transition: all 0.25s;

    &:focus {
      border: 1px solid #9216FB;
      box-shadow: 0 0 10px 3px #9216FB;
    }
  }

  &__btn {
    margin-top: 15px;
  }
}