.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__title {
    font-family: Exo2, sans-serif;
    font-weight: 700;
    font-size: 32px;
    background: -webkit-linear-gradient(90deg, #5b2dff 0%, #6000ff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &__links {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  &__link {
    margin-right: 15px;
    font-family: Exo2, sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #fff;
    text-decoration: none;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}