.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include to(992) {
    flex-direction: column;
    justify-content: flex-start;
  }

  &__title {
    font-family: Exo2, sans-serif;
    font-weight: 700;
    font-size: 42px;
    background: -webkit-linear-gradient(90deg, #5b2dff 0%, #6000ff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    @include to(1140) {
      font-size: 36px;
    }

    @include to(576) {
      font-size: 36px;
    }
  }

  &__links {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    @include to(992) {
      margin-top: 15px;
      flex-wrap: wrap;
      gap:10px;
    }
  }

  &__link {
    margin-right: 15px;
    font-family: Exo2, sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    color: #fff;
    text-decoration: none;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      text-decoration: underline;
    }

    @include to(1140) {
      margin-right: 10px;
      font-size: 14px;
    }

    @include to(576) {
      font-size: 18px;
    }

    &_sm {
      margin-right: 10px;
      font-size: 14px;
    }
  }

  &__avatar-block {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    @include to(992) {
      margin-top: 15px;
    }
  }

  &__avatar-text {
    margin-left: 10px;
    font-family: Exo2, sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #fff;

    &_highlighted {
      text-decoration: underline;
      color: #6000ff;
    }
  }
}